.header {
    padding: .5rem 0;
    margin-top: 30px;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    font-weight: 500;
}

a > span{
    margin-left: 50px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    padding: 10px;
    background-color: #DBA506;
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

.header-icon {
    width: 80px;
    cursor: pointer;
}


.active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    padding: 10px;
    background-color: #DBA506;
    color: black;
    border-radius: 5px;
    font-weight: 600;
}
.active:hover {
    color: black;
}
.header{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media(max-width: 458px){
    .header{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .header-icon{
        width: 50px;
        display: flex;
        align-items: center;
    }
    a > span{
        margin-left: 20px;
        font-size: .9rem;
    }
    a > span:hover {
        height: 25px;
        min-width: 70px;
        padding: 5px;
        font-weight: 600;
    }
    .active {
        height: 25px;
        min-width: 70px;
        padding: 5px;
        font-weight: 600;
    }
}